<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<title>Bienvenue sur le FUN</title>
</head>
<body class="text-center" style="background-color:silver;">
        <h1>Le prix juste approximativement</h1>
        <h2>Tu es tellement mauvais que tu trouveras jamais le prix: <img src="{{Image}}"> </h2>

<!-- Message quand tu as trouvé le bon prix  avec le temps que tu as mis-->
{%if Prix == Prixproduit %}
    <p class="font-weight-bold">Comment tu as fais ?? Je suis satisfait de ta performance <br>
    Tu as mis {{Temps.seconds}} secondes. Allez retente ta chance tu peux mieux faire !
    </p>
<!-- Bouton quand le prix a été trouvé -->
    <form action="/" method="get">
        <input class="btn btn-success" type="submit" value="Try Again"/>
    </form>
{%else%}

   <!-- Formulaire avec l'envoi des tentatives -->
        <form action="/" method="post">
            <p class="font-weight-bold">Tente ta chance si tu l'oses</p>
            <input type="hidden" name="Article" value="{{Article}}"/>
            <input class="center-block btn btn-danger" type="number" name="Prix" id="champprix"/>
            <input  type="hidden" name="essai" value="{{Essai}}"/>
            <input type="hidden" name="tempstotal" value="{{TempsDepart}}"/>
            <input class="btn btn-success" type="submit" id="envoyer" value="Tentative"/>

        </form>

     <!-- Mini Algo pour indiquer si le prix est plus grand ou trop petit -->
    {%if Prix != -1 %}
        {%if Prix > Prixproduit%}
            <h3 class="font-weight-bold">Tu as cru que je roulais sur l'or ? C'est moins !</h3>
        {%else%}
            <h3 class="font-weight-bold">Allez fais pas ton radin, c'est beaucoup plus </h3>

        {%endif%}
    {%endif%}
{%endif%}

 <!-- Algo qui montre le nombre d'essai jusqu'à réussir -->

{%if Prix != -1 %}
<h2 class="font-weight-bold">Prix déjà donné:</h2>
<tr>
    {%for ValeurEssai in Essai %}
        <td>{{ValeurEssai}}</td>
    {%endfor%}
</tr>
{%endif%}

</body>
</html>


